/*========== GOOGLE FONTS ===========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/*========== VARIABLE CSS ===========*/

:root {
    /*========== COLORS  ==========*/
    --color-primary:#F6842A;
    --color-check:#2D2A2A;
    --color-background: #FFFFFF;
    --color-black: #000000;
    --color-grey: #322D2D;
    --color-light-grey: #707070;

    /*========== Font and typography ==========*/
    --body-font: 'Roboto', sans-serif;
    --font-mont: 'Montserrat', sans-serif;
}


/*========== BASE CSS ===========*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    color: var(--color-black);
    font-family: var(--body-font);
    /* font-size: var(--font-size); */
}

a {
    text-decoration: none;
    color: var(--color-back);
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

svg {
    width: 24px;
    aspect-ratio: 1/1;
}

.grid {
    display: grid;
    gap: 1.5rem ;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

/************** REUSABLE STYLING **************/
.btn {
    background-color: var(--color-primary);
    padding: .5rem 1rem;
    border-radius: 15px;
}

/*================ STYLING (MOBILE FIRST DESIGN) ================*/

/*========== HEADER ===========*/
.header {
    width: 100%;
    background-color: var(--color-primary);
}

/*========== NAV ===========*/
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1rem;
    position: relative;
}

nav .logo {
 width: 60%;
}

.nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    background-color: #FFFFFF;
    transition: 1s ease;
    text-align: center;
    z-index: 30;
}

.nav-btn a{
    color: var(--color-background);
}

.nav-menu ul li {
    margin-bottom: 2rem;
}

.nav-menu ul li a {
    font-size: 22px;
}

.nav-menu .nav-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;  
}

.nav-menu .nav-close i {
    font-size: 25px;
}

nav .nav-bar {
    cursor: pointer;
}

nav .nav-bar i {
    font-size: 2rem;
    color: var(--color-background);
}

/* show-menu */
.show-menu {
    right: 0;
}

/*========== HOME SECTION ===========*/

.home {
    /* background-color: red; */
    padding: 0 1rem;
    display: flex;
    flex-direction: column-reverse;
}

.home-detail__header {
    font-family: var(--font-mont);
    font-size: 1.6rem;
    font-weight: 900;
}

.header-1 {
    color: var(--color-grey);
}
.header-2 {
    color: var(--color-primary);
}

.home-detail__img {
    width: 40%;
    margin-bottom: 1rem;
}

.home-detail__text {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.home-detail__form {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* justify-content: space-between; */
    padding: .5rem;
    border-radius: 2rem;
    color: var(--color-background);
}

.home-detail__form input {
    border: none;
    background: transparent;
    color: var(--color-background);
    outline: none;
    width: 50%;
}

.home-detail__form input::placeholder {
    color: var(--color-background);
}

.home-detail__form p {
    font-size: 10px;
}

/*========== RESTAURANT SECCTION ===========*/

.restaurant {
    /* background-color: red; */
    padding: 5rem 1rem;
}

.restaurant h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.restaurant-grid {
    align-items: center;
    justify-content: center;
    /* place-items: center; */
}

.restaurant-grid__sub .img {
    /* width: 50%; */
    /* aspect-ratio: 1/1; */
    border-radius: 2rem;
    overflow: hidden;
    background-color: aquamarine;
    margin-bottom: 1rem;
}

.restaurant-grid__sub p {
    color: var(--color-grey);
}
.restaurant-grid__sub p i{
    color: var(--color-black);
}
.restaurant-grid__sub p span {
    color: var(--color-light-grey);
}

/*========== CATEGORY SECCTION ===========*/
.category {
    /* background-color: red; */
    padding: 0 1rem;
}

.category h1 {
    text-align: center;
    margin-bottom: 4rem;
}

.category-grid {
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    /* justify-content: center; */
    /* place-items: center; */ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.category-grid__sub {
    margin: 0 1rem 4rem 0;
}

.category-grid__sub a{
    background: var(--color-primary);
    color: var(--color-background);
    padding: 1.5rem 2.5rem;
    border-radius: 1.5rem;
    font-family: var(--font-mont);
    font-weight: 700;
}

.hands {
    background: rgba(213, 243, 222, 0.5);
    /* padding: 0 0; */
}

.hands-container {
    /* background-color: #322D2D; */
    text-align: center;
    padding: 4rem 0;
}

.hands-container h1 {
    font-family: var(--font-mont);
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-grey);
}

.hands-container__img {
    /* background: #322D2D; */
    width: 50%;
    margin: 0 auto;
}

.hands-container__text {
    font-family: var(--font-mont);
    font-weight: 500;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
}

.hands-container__btn .btn {
    color: var(--color-background);
    font-family: var(--font-mont);
    font-weight: 700;
}