/*========== GOOGLE FONTS ===========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/*========== VARIABLE CSS ===========*/

:root {
    /*========== COLORS  ==========*/
    --color-primary:#F6842A;
    --color-check:#2D2A2A;
    --color-background: #FFFFFF;
    --color-black: #000000;
    --color-grey: #322D2D;
    --color-light-grey: #707070;

    /*========== Font and typography ==========*/
    --body-font: 'Roboto', sans-serif;
    --font-mont: 'Montserrat', sans-serif;
}


/*========== BASE CSS ===========*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
    color: var(--color-black);
    font-family: var(--body-font);
    /* font-size: var(--font-size); */
}

a {
    text-decoration: none;
    color: var(--color-back);
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

svg {
    width: 24px;
    aspect-ratio: 1/1;
}

.grid {
    display: grid;
    gap: 1.5rem ;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

/************** REUSABLE STYLING **************/
.btn {
    background-color: var(--color-primary);
    padding: .5rem 1rem;
    border-radius: 15px;
}

/*================ STYLING (MOBILE FIRST DESIGN) ================*/

/*========== HEADER ===========*/
.header {
    width: 100%;
    background-color: var(--color-primary);
}

/*========== NAV ===========*/
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1rem;
    position: relative;
}

nav .logo {
 width: 60%;
}

.nav-menu__desk {
    display: none;
}

.nav-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    background-color: #FFFFFF;
    transition: 1s ease;
    text-align: center;
    z-index: 30;
}

.nav-btn a{
    color: var(--color-background);
}

.nav-menu ul li {
    margin-bottom: 2rem;
}

.nav-menu ul li a {
    font-size: 22px;
}

.nav-menu .nav-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;  
}

.nav-menu .nav-close i {
    font-size: 25px;
}

nav .nav-bar {
    cursor: pointer;
}

nav .nav-bar i {
    font-size: 2rem;
    color: var(--color-background);
}

/* show-menu */
.show-menu {
    right: 0;
}

/*========== HOME SECTION ===========*/

.home {
    /* background-color: red; */
    padding: 0 1rem;
    display: flex;
    flex-direction: column-reverse;
}

.home-detail__header {
    font-family: var(--font-mont);
    font-size: 1.6rem;
    font-weight: 900;
}

.header-1 {
    color: var(--color-grey);
}
.header-2 {
    color: var(--color-primary);
}

.home-detail__img {
    width: 40%;
    margin-bottom: 1rem;
}

.home-detail__text {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.home-detail__form {
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* justify-content: space-between; */
    padding: .5rem;
    border-radius: 2rem;
    color: var(--color-background);
}

.home-detail__form input {
    border: none;
    background: transparent;
    color: var(--color-background);
    outline: none;
    width: 50%;
}

.home-detail__form input::placeholder {
    color: var(--color-background);
}

.home-detail__form p {
    font-size: 10px;
}

/*========== RESTAURANT SECCTION ===========*/

.restaurant {
    /* background-color: red; */
    padding: 2rem 1rem 5rem 1rem;
}

.restaurant h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.restaurant-grid {
    align-items: center;
    justify-content: center;
    /* place-items: center; */
}

.restaurant-grid__sub .img {
    /* width: 50%; */
    aspect-ratio: 1/1;
    border-radius: 2rem;
    overflow: hidden;
    /* background-color: aquamarine; */
    margin-bottom: 1rem;
}

.restaurant-grid__sub p {
    color: var(--color-grey);
}
.restaurant-grid__sub p i{
    color: var(--color-black);
}
.restaurant-grid__sub p span {
    color: var(--color-light-grey);
}

/*========== CATEGORY SECCTION ===========*/
.category {
    /* background-color: red; */
    padding: 0 1rem;
}

.category h1 {
    text-align: center;
    margin-bottom: 4rem;
}

.category-grid {
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    /* justify-content: center; */
    /* place-items: center; */ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.category-grid__sub {
    margin: 0 1rem 4rem 0;
}

.category-grid__sub a{
    background: var(--color-primary);
    color: var(--color-background);
    padding: 1.5rem 2.5rem;
    border-radius: 1.5rem;
    font-family: var(--font-mont);
    font-weight: 700;
}

/*========== HANDS SECCTION ===========*/
.hands {
    background: rgba(213, 243, 222, 0.5);
    /* padding: 0 0; */
}

.hands-container {
    /* background-color: #322D2D; */
    text-align: center;
    padding: 4rem 0;
}

.hands-container h1 {
    font-family: var(--font-mont);
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-grey);
}

.hands-container__img {
    /* background: #322D2D; */
    width: 50%;
    margin: 0 auto;
}

.hands-container__text {
    font-family: var(--font-mont);
    font-weight: 500;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
}

.hands-container__btn .btn {
    color: var(--color-background);
    font-family: var(--font-mont);
    font-weight: 700;
}

/*========== TESTIMONIAL SECCTION ===========*/
.testimonial {
    /* background-color: red; */
    padding: 4rem 1rem;
}

.testimonial-container h1 {
    text-align: center;
    font-family: var(--font-mont);
    font-weight: 700;
    color: var(--color-grey);
    margin-bottom: 2rem;
}

.testimonial-grid__sub {
    background: var(--color-primary);
    border-radius: 2rem;
    color: var(--color-background);
    padding: 2rem;
    margin-bottom: 2rem;
}

.testimonial-grid__sub .text {
    margin-bottom: 2rem;
    font-family: var(--font-mont);
    font-weight: 500;
    line-height: 1.2;
    font-size: 15px;
}

.testimonial-grid__sub .profile {
    display: flex;
    align-items: center;
    /* justify-content: ; */
}

.testimonial-grid__sub .profile p {
    margin-left: 1rem;
}


/*========== FOOTER SECTION ===========*/
footer {
    margin-top: 4rem;
}

.footer-container {
    background-color: var(--color-grey);
    padding: 4rem 1rem;
}

.footer-logo {
    width: 70%;
}

.footer-container .footer-links {
    text-align: center;
    margin-top: 2rem;
    color: var(--color-background);
    font-family: var(--font-mont);
}

.footer-links__sub {
    margin-bottom: 2rem;
}

.footer-links__sub h2 {
    margin-bottom: 1rem;
}

.footer-links__sub ul li {
    margin-bottom: .5rem;
}


/*==================== SIGNUP FORM ====================*/
/*====================  ====================*/

.form {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    /* background-color: #000000; */
}

.form-container {
    /* margin: 0 auto; */
    width: 100%;
    /* background-color: blue; */
}

.form-container h1, 
.form-container p {
    text-align: center;
}

.form-container h1 {
    margin: 2.5rem 0 0 0;
}

.form-container p {
    margin: .5rem 0 1.5rem 0;
}

form {
    display: grid;
    background-color: var(--color-primary);
    padding: 4rem 0;
    place-content: center;
    gap: 2rem;
    width: 90%;
    /* max-width: 70%; */
    margin: 0 auto 4rem auto;
    /* align-items: center; */
}

form label {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

form label input{
    background-color: var(--color-background);
    outline: none;
    border: none;
    border-radius: .5rem;
    padding: 1rem 2.2rem;
    width: 18rem;
}

form label input::placeholder {
    color: var(--color-check);
}

form label i {
    position: absolute;
    font-size: .7rem;
}

form label .left {
    left: 1.2rem;
}

form label .eyes {
    right: 1.2rem;
}

form button {
    width: 70%;
    background-color: var(--color-background);
    font-size: 1.4rem;
    margin: 0 auto;
    padding: 1rem 0;
    border: none;
    border-radius: .5rem;
    outline: none;
    font-weight: 700;
}

form button:hover {
    background-color: rgb(243, 242, 242);
}

/*==================== MEDIA QUERIES ====================*/
/*==================== MEDIUM DEVICES ====================*/
@media screen and (min-width: 500px){
    nav,
    .home,
    .restaurant,
    .testimonial {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .hands-container__text {
        padding: 0 2rem;
    }

    .footer-logo {
        width: 50%;
    }
}

@media screen and (min-width: 540px){
    nav .logo {
        width: 45%;
    }
    .home {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* background-color: aqua; */
    }

    .home-details,
    .home-image {
        width: 100%;
    }
    
    /* .home-details {
        background-color: blueviolet;
    }

    .home-image {
        background-color: brown;
    } */

    .home-detail__header {
        font-size: 1.6rem;
    }
    
    .home-detail__img {
        width: 55%;
    }
    
    .home-detail__text {
        font-size: 1rem;
    }
    
    .home-detail__form {
        width: 100%;
    }

    /*========== RESTAURANT SECCTION ===========*/

    .restaurant h1 {
        font-size: 2rem;
    }

    .restaurant-grid {
        grid-template-columns: 1fr 1fr;
        align-items: initial;
        justify-content: initial;
    }

    .restaurant-grid__sub .img {
        /* width: 50%; */
        aspect-ratio: 2/1.3;
        border-radius: 2rem;
        overflow: hidden;
        background-color: aquamarine;
        margin-bottom: 1rem;
    }

    .restaurant-grid__sub p {
        color: var(--color-grey);
    }
    .restaurant-grid__sub p i{
        color: var(--color-black);
    }
    .restaurant-grid__sub p span {
        color: var(--color-light-grey);
    }

    .testimonial {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    /*==================== SIGNUP FORM ====================*/
    /*====================  ====================*/
    .form-container h1 {
        font-size: 2rem;
    }
    form {
        max-width: 35rem;
    }
    
    form label input {
        width: 24rem;
    }

}

/*==================== MEDIA QUERIES ====================*/
/*==================== MEDIUM DEVICES ====================*/
@media screen and (min-width: 780px){
    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem 2rem;
        position: relative;
    }
    
    nav,
    .home {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .nav-bar,
    .nav-close {
        display: none;
    }

    nav .logo {
        width: 20%;
    }


    .nav-menu {
        position: initial;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        width: initial;
        height: initial;
        right: 0;
        top: 0;
        text-align: left;
        transition: none;
        z-index: 100;
    }

    .nav-list {
        display: flex;
    }

    .nav-menu ul {
        margin-right: none;
    }

    .nav-menu ul li {
        margin-bottom: 0;
    }

    .nav-menu ul li a, 
    .nav-menu .nav-btn a {
        font-size: 14px;
        color: var(--color-background);
        /* padding-right: 20px; */
    }

    .nav-menu ul li a {
        margin-left: 2rem;
    }

    .nav-menu ul li .btn {
        background: var(--color-background);
        color: var(--color-primary);
        font-size: 15px;
        font-weight: 700;
    }

    /*========== HANDS SECCTION ===========*/

    .home {
        /* display: initial; */
        flex-direction: initial;
        /* align-items: baseline; */
        /* justify-content: initial; */
        position: relative;
        margin: 14rem 0;
    }

    .home-details,
    .home-image {
        position: absolute;
    }

    .home-details {
        left: 0;
        width: 52%;
        z-index: 50;
        left: 10%;
        /* background-color: rebeccapurple; */
    }

    .home-image {
        right: 0;
        /* background-color: green; */
        width: 50%;
    }

    .home-detail__header {
        font-size: 2rem;
    }
    
    .home-detail__img {
        width: 40%;
    }
    
    .home-detail__text {
        font-size: 1.2rem;
    }
    
    .home-detail__form {
        width: 65%;
    }


    /*========== RESTAURANT SECCTION ===========*/

    .restaurant {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    /*========== CATEGORY SECCTION ===========*/

    .category {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .category-grid {
        gap: .5rem;
    }


    /*========== HANDS SECCTION ===========*/

    .hands-container {
        padding: 4rem 4rem;
    }

    .hands-container h1 {
        font-size: 2.2rem;
    }

    .hands-container__img {
        /* background: #322D2D; */
        width: 30%;
    }

    .hands-container__text {
        font-size: 1.2rem;
        padding: 0 5rem;
        margin-bottom: 2rem;
    }

    .hands-container__btn .btn {
        padding-left: 2rem;
        padding-right: 2rem;
    }



     /*========== TESTIMONIAL SECCTION ===========*/
     .testimonial {
        /* background-color: red; */
        padding: 4rem 4rem 2rem 4rem;
    }

    .testimonial-container h1 {
        text-align: center;
        font-family: var(--font-mont);
        font-weight: 700;
        color: var(--color-grey);
        margin-bottom: 2rem;
    }

    .testimonial-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .testimonial-grid__sub {
        background: var(--color-primary);
        border-radius: 2rem;
        color: var(--color-background);
        padding: 2rem;
        margin-bottom: 0;
        transition: 1s ease;
    }

    .testimonial-grid__sub:hover {
        /* background-color: #2D2A2A; */
        transform: scale(1.1);
    }

    .testimonial-grid__sub .text {
        margin-bottom: 2rem;
        font-family: var(--font-mont);
        font-weight: 500;
        line-height: 1.2;
        font-size: 15px;
    }

    .testimonial-grid__sub .profile {
        display: flex;
        align-items: center;
        /* justify-content: ; */
    }

    .testimonial-grid__sub .profile p {
        margin-left: 1rem;
    }

    /*========== FOOTER SECTION ===========*/

    .footer-container {
        padding: 4rem 4rem;
    }

    .footer-logo {
        width: 30%;
    }

    .footer-container .footer-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: flex-start;
    }

    .footer-links__sub h2 {
        font-size: 1.2rem;
    }

    .footer-links__sub ul li a{
        font-weight: 200;
    }

    .footer-container .footer-links .footer-links__sub:nth-child(4) {
        margin-top: 2.6rem;
    }
    
}

@media screen and (min-width: 850px){
    .restaurant-grid {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: initial;
        justify-content: initial;
    }
}
    
@media screen and (min-width: 950px) {
    .nav-menu ul li a {
        margin-left: 4rem;
    }

     /*========== HANDS SECCTION ===========*/

     .home {
        /* display: initial; */
        flex-direction: initial;
        /* align-items: baseline; */
        /* justify-content: initial; */
        position: relative;
        margin: 14rem 0;
    }

    .home-details,
    .home-image {
        position: absolute;
    }

    .home-details {
        left: 0;
        width: 60%;
        z-index: 50;
        left: 10%;
        /* background-color: rebeccapurple; */
    }

    .home-detail__header {
        font-size: 2.5rem;
    }
    
    .home-detail__img {
        width: 13rem;
    }
    
    .home-detail__text {
        font-size: 1.2rem;
    }
    
    .home-detail__form {
        width: 18rem;
    }

    .hands-container__img {
        /* background: #322D2D; */
        width: 20%;
    }
}

@media screen and (min-width: 1000px) {
    .nav-menu ul li a {
        margin-left: 4rem;
    }

     /*========== HANDS SECCTION ===========*/

     .home {
        /* display: initial; */
        flex-direction: initial;
        /* align-items: baseline; */
        /* justify-content: initial; */
        position: relative;
        margin: 16rem 0;
    }

    .home-details,
    .home-image {
        position: absolute;
    }

    .home-details {
        left: 0;
        width: 60%;
        z-index: 50;
        left: 10%;
        /* background-color: rebeccapurple; */
    }

    .home-detail__header {
        font-size: 2.5rem;
    }
    
    .home-detail__img {
        width: 13rem;
    }
    
    .home-detail__text {
        font-size: 1.2rem;
    }
    
    .home-detail__form {
        width: 18rem;
    }

    .testimonial-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .category-grid__sub a{
        padding: 2rem 3.5rem;
    }

    .category-grid__sub {
        margin: 0 3rem 6rem 0;
    }

}

@media screen and (min-width: 1100px) {
    nav {
        padding: 1.2rem 6rem;
    }

    .restaurant,
    .category,
    .testimonial,
    .footer-container {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .nav-menu ul li a {
        margin-left: 4rem;
    }

     /*========== HANDS SECCTION ===========*/

     .home {
        /* display: initial; */
        flex-direction: initial;
        /* align-items: baseline; */
        /* justify-content: initial; */
        position: relative;
        margin: 18rem 0;
    }

    .home-details,
    .home-image {
        position: absolute;
    }

    .home-details {
        left: 0;
        width: 60%;
        z-index: 50;
        left: 12%;
        /* background-color: rebeccapurple; */
    }

    .home-image {
        right: 2%;
    }

    .home-detail__header {
        font-size: 2.5rem;
    }
    
    .home-detail__img {
        width: 13rem;
    }
    
    .home-detail__text {
        font-size: 1.2rem;
    }
    
    .home-detail__form {
        width: 18rem;
    }
}
@media screen and (min-width: 1250px) {
    nav {
        padding: 1.2rem 8rem;
    }

    .restaurant,
    .category,
    .testimonial,
    .footer-container {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    
    .nav-menu ul li a {
        margin-left: 4rem;
    }

     /*========== HANDS SECCTION ===========*/

     .home {
        /* display: initial; */
        flex-direction: initial;
        /* align-items: baseline; */
        /* justify-content: initial; */
        position: relative;
        margin: 20rem 0;
    }

   
}